#countdown-component {
  text-align: center;
  div {
    p {
      font-family: "Allura", cursive;
      margin: 0;

      &:first-child {
        font-size: 2rem;
      }

      &:last-child {
        font-size: 1.4rem;
        margin-top: -1rem;
        color: black;
      }
    }
  }

  @media (min-width: 768px) {
    div {
      p {
        &:first-child {
          font-size: 3rem;
        }

        &:last-child {
          font-size: 2rem;
          margin-top: -1.5rem;
        }
      }
    }
  }
}
