#countdown-component {
  text-align: center;
  div {
    p {
      font-family: "Allura", cursive;
      margin: 0;

      &:first-child {
        font-size: 4rem;
        color: $primary-color;
      }

      &:last-child {
        font-size: 2.5rem;
        margin-top: -1.5rem;
        margin-bottom: 2rem;
      }
    }
  }
}
