#countdown-component {
  text-align: center;

  p span:first-child {
    font-family: "Allura", cursive;
    font-size: 4rem;
    color: $primary-color;
  }

  p span:last-child {
    font-family: "Allura", cursive;
    font-size: 2.5rem;
    margin-top: -2rem;
  }
}
