form {
  background-color: rgba($primary-color, 1);
  padding: 2rem;
  color: white;
  border-radius: 1rem;

  b {
    display: block;
    margin-bottom: 0.2rem;
  }

  .form-row .col-md {
    margin-bottom: 1rem;
  }
}
