#navbar-component {
  nav {
    height: 4rem;
    border-bottom: 2px solid black;

    a {
      font-weight: 400;
      padding: 1.25rem 1rem;
      cursor: pointer;
      color: black;
      text-decoration: none;
      text-align: center;
      white-space: nowrap;

      span {
        display: none;
      }

      i {
        color: black;
        margin-left: 0;
        transition: color 0.3s ease-in-out;
      }

      @media (min-width: 768px) {
        span {
          display: inline;
        }

        i {
          color: black;
          margin-left: 0.5rem;
          transition: color 0.3s ease-in-out;
        }
      }

      &:hover {
        i {
          color: $primary-color;
        }
      }

      &.router-link-exact-active {
        font-weight: 700;

        i {
          color: $primary-color;
        }
      }
    }
  }
}
