#welcome-component {
  .front-image {
    height: calc(100vh - 4rem);
  }
  tr {
    td:first-child {
      padding: 0 1rem;
      color: black;
    }
    td:last-child {
      padding: 0 1rem;
      color: white;
    }
  }

  .scroll-down {
    -webkit-transition: all 0.5s ease-in 3s;
    transition: all 0.5s ease-in 3s;
  }

  .scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #fff;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1);
    -webkit-box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 255, 0.75);
  }

  .scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
  }

  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }

  .opacity-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
    @include ease-out();

    &.show {
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1;
    }
  }

  .container-fixed-centered {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .hide {
    display: none;
  }
}
