#wishlist-component {
  .card {
    text-align: center;
    height: 100%;

    img {
      width: 8rem;
      height: 8rem;
    }
  }
  .wish {
    margin: 1rem 0;
    display: inline-block;
  }

  .opacity-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
    @include ease-out();

    &.show {
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 1;
    }
  }

  .container-fixed-centered {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .hide {
    display: none;
  }

  .btn-sm {
    margin: 0 0.4rem;
  }

  .transparentWish {
    opacity: 0.7;
  }
}
