@import "settings";
@import "navbar";
@import "footer";
@import "form";
@import "welcome";
@import "countdown";
@import "wishlist";
@import "wish";
@import "login";

#app section:not(.light):not(.dark):not(.white) {
  min-height: calc(100vh);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
h1 {
  font-family: "Allura", cursive;
  font-size: 3rem;
}
h2 {
  font-family: "Allura", cursive;
  font-size: 2rem;
  white-space: nowrap;
}
p {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
main {
  a:link:not(.imagelink) {
    text-decoration: none;
    color: black;
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: background-size 0.2s ease-in-out 0s;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-size: 100% 100%;
  }
}

::selection {
  color: white;
  background: $primary-color;
}
.center {
  text-align: center;
}
.logo-container {
  height: 7rem;
}
img.logo {
  width: 20rem;
  margin: auto;
}

@media (max-width: 767px) {
  .logo-container {
    height: 6rem;
  }
  img.logo {
    width: 15rem;
    margin: auto;
  }
}

.btn-custom {
  background-color: rgb(182, 164, 149);
  border: none;

  &:hover {
    background-color: darken(rgb(182, 164, 149), 20);
  }
}
section:not(.app-section) {
  margin: 0 calc(-50vw + 50%);

  &.white {
    background-color: none;
    color: black;
  }

  &.dark {
    background-color: $primary-color;
    color: white;
  }

  &.light {
    background-color: $secondary-color;
  }

  &:not(.contains-image) {
    padding: 4rem 0 3rem 0;
  }
}
.front-image {
  background-image: url("./../public/front.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(50vh - 64px);

  -webkit-box-shadow: inset 0px -100px 50px -20px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -100px 50px -20px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -100px 50px -20px rgba(0, 0, 0, 0.9);
}

#login-component {
  .front-image {
    background-position: center center;
  }
}

@media (max-width: 959px) {
  .front-image {
    background-image: url("./../public/front-md.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 64px);
  }
}

@media (max-width: 959px) {
  .height-on-small {
    height: 15rem;
  }
  .height-on-small2 {
    height: 25rem;
  }
}
.height-on-small2 {
  padding: 4rem 0rem;
}

.section-image {
  padding: 0;
  width: 100%;
  min-height: 25em;
  background-image: url("./../public/danmark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-image2 {
  padding: 0;
  width: 100%;
  min-height: 25em;
  background-image: url("./../public/marma.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hide-on-large {
  display: none;
}
@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }

  .hide-on-large {
    display: block;
  }
}

.section-image3 {
  padding: 0;
  width: 100%;
  min-height: 25em;
  background-image: url("./../public/par2.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.btn-custom {
  background-color: $third-color;
}
.btn-custom:hover {
  background-color: darken($third-color, 10);
}
.btn-custom:active {
  background-color: darken($third-color, 10) !important;
}
.btn-custom:disabled {
  background-color: $third-color;
  opacity: 0.8;
  pointer-events: none;
}
.btn-custom:disabled {
  background-color: $third-color;
  opacity: 0.5;
  pointer-events: none;
}
.to-edges {
  margin: 0 calc(-50vw + 50%);
}
