@import "settings";
@import "navbar";
@import "footer";
@import "form";
@import "welcome";
@import "countdown";
@import "wishlist";
@import "wish";

#app section {
  min-height: calc(100vh - 2rem);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
h1 {
  font-family: "Allura", cursive;
  font-size: 3rem;
}
h2 {
  font-family: "Allura", cursive;
  font-size: 2rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
main {
  a:link {
    text-decoration: none;
    color: black;
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: background-size 0.2s ease-in-out 0s;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-size: 100% 100%;
  }
}

::selection {
  color: white;
  background: $primary-color;
}
.center {
  text-align: center;
}
img.logo {
  width: 50%;
  margin: auto;
}
.btn-custom {
  background-color: rgb(182, 164, 149);
  border: none;

  &:hover {
    background-color: darken(rgb(182, 164, 149), 20);
  }
}
