h1 {
  font-family: "Stalemate", cursive;
  font-size: 4rem;
}
h2 {
  font-family: "Stalemate", cursive;
  font-size: 2.5rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
.navbar-custom {
  background-color: #cea74a;
}
