@import "settings";
@import "navbar";
@import "footer";
@import "form";

#app section {
  min-height: calc(100vh - 2rem);
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
h1 {
  font-family: "Allura", cursive;
  font-size: 4rem;
}
h2 {
  font-family: "Allura", cursive;
  font-size: 2.5rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
  margin-bottom: 2rem;
}
main {
  a:link {
    text-decoration: none;
    color: black;
    background: linear-gradient(to bottom, $primary-color 0%, $primary-color 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    transition: background-size 0.2s ease-in-out 0s;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-size: 100% 100%;
  }
}

::selection {
  color: white;
  background: $primary-color;
}

.card {
  display: inline-block;
  text-align: center;
  min-width: 43%;
  margin: 1rem;

  .card-header {
    font-weight: 700;
    background-color: $primary-color;
  }
  p {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card {
    display: inline-block;
    text-align: center;
    max-width: 40%;
    min-width: 8rem;
    margin: 1rem;

    .card-header {
      font-weight: 700;
      background-color: $primary-color;
    }
    p {
      margin: 0;
    }
  }
}
