@import "settings";

h1 {
  font-family: "Stalemate", cursive;
  font-size: 4rem;
}
h2 {
  font-family: "Stalemate", cursive;
  font-size: 2.5rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-family: 1rem;
}
nav {
  border-bottom: 2px solid black;

  &.navbar-light .navbar-nav .nav-link.active {
    font-weight: 700;

    i {
      color: $primary-color;
    }
  }
}
