#wishlist-component {
  .card {
    text-align: center;
    padding-top: 1rem;
    margin: 1rem;

    p {
      margin-bottom: 1rem;
    }

    img {
      width: 8rem;
      height: 8rem;
    }
  }
}
